*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Arial, sans-serif' */
    font-family: 'Times New Roman', Times, serif;
}

.About-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
    padding-top: 10rem;
    margin-bottom: 5rem;
}
.me{
    /* margin-top: 8rem; */
    margin-left: 1rem;
}
.p_me{
    font-size: 1.2rem;
}
.me_title{
    color: white;
    margin-left: 2rem;
    margin-bottom: 1rem;
    display: inline-block;
}
.me_title::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: chocolate; /* Purple underline */
    margin: 0.5rem auto 0;
  }
.skill{
    margin-top: -5rem;
}